# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('E:\datasets\classification\study_data.csv')

In [3]:
data.head()

   repetition_time  study_time knowledge_level
0             0.00        0.00             Low
1             0.24        0.90            High
2             0.25        0.33             Low
3             0.65        0.30            High
4             0.98        0.24             Low

In [4]:
#dont have any null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   repetition_time  258 non-null    float64
 1   study_time       258 non-null    float64
 2   knowledge_level  258 non-null    object
dtypes: float64(2), object(1)
memory usage: 6.2+ KB

In [5]:
data.count()

repetition_time    258
study_time         258
knowledge_level    258
dtype: int64

## counting unique values

In [6]:
data['knowledge_level'].unique()

array(['Low', 'High'], dtype=object)

In [7]:
data['knowledge_level'].value_counts()

High    151
Low     107
Name: knowledge_level, dtype: int64

## spilitting the dataset

In [8]:
x = data.drop('knowledge_level',axis=1)
y = data['knowledge_level']

In [9]:
x.head()

   repetition_time  study_time
0             0.00        0.00
1             0.24        0.90
2             0.25        0.33
3             0.65        0.30
4             0.98        0.24

In [10]:
y.head()

0     Low
1    High
2     Low
3    High
4     Low
Name: knowledge_level, dtype: object

### converting the categorical data into 0&1 using one hot encoding

In [11]:
y = pd.get_dummies(data,columns=['knowledge_level'])

In [12]:
y.head()

   repetition_time  study_time  knowledge_level_High  knowledge_level_Low
0             0.00        0.00                     0                    1
1             0.24        0.90                     1                    0
2             0.25        0.33                     0                    1
3             0.65        0.30                     1                    0
4             0.98        0.24                     0                    1

In [13]:
#spiliting the dataset
from sklearn.model_selection import train_test_split

In [14]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y['knowledge_level_High'],test_size=0.25,random_state=0)

# Feature Selection

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()

In [17]:
xtrain = scaler.fit_transform(xtrain)

In [18]:
xtest = scaler.transform(xtest)

# Decision Tree Classification

## Training the model

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
dt_classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)

In [24]:
dt_classifier.fit(xtrain,ytrain)

DecisionTreeClassifier(criterion='entropy', random_state=0)

## Predicting the test input

In [26]:
y_predict = dt_classifier.predict(xtest)

## Accuracy of the model

In [27]:
#building the confusion matrix
from sklearn.metrics import confusion_matrix

In [28]:
confusion_matrix(ytest,y_predict)

array([[29,  0],
       [ 0, 36]], dtype=int64)

In [29]:
#finding the accuracy of the model
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(ytest,y_predict)

1.0